
.mvlib-list > li {
  margin: 5px;
  list-style-type: none;
}

.mvlib-item {
  display: inline;
}

.mvlib-tag, .mvlib-meta {
  font-size: 12px;
  color: #a12b17;
}

.mvlib-name {
  margin-left: 5px;
  margin-right: 5px;
}

.mvlib-node {
  margin-left: 20px;
}

.mvlib-more {
  display: inline;
}
